body {
  margin: 0;
  padding: 0;
}

input[type="button"].hidden {
  display: none;
}

h1 {
  display: block;
  width: 100%;
  height: 5em;
  font-size: 4em;
  text-align: center;
  line-height: 5em;
  background: #333;
  margin: 0 0 1em;
  color: white;
}

.btn {
  display: block;
  width: 10em;
  height: 5em;
  line-height: 5em;
  font-size: 1em;
  text-align: center;
  background: #333;
  color: white;
}

.flex {
  display: flex;
  margin-bottom: 1.5em;
}

.flex .btn {
  width: 30em;
  height: 15em;
  margin: 0 auto;
  line-height: 15em;
}

.teacher {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 30em;
}

.btn.back {
  position: absolute;
  bottom: 0;
  left: 0;
}

.btn.next {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* enter.html */
.contant {
  margin: 0 3em;
  font-size: 2em;
  line-height: 2em;
}

.display {
  display: block;
  width: 10em;
  height: 2em;
  /* background: red; */
  margin-right: 2em;
  border: 1px #333 solid;
}

.display.time {
  width: 4em;
  margin: 0 5px;
}

.label {
  position: absolute;
  color: #999;
  padding-left: 0.3em;
}

#date {
  position: absolute;
  right: 3em;
}

/*  */

#keybord.is-show {
  display: block;
  position: absolute;
  top: 29em;
  left: 190px;
}

#keybord {
  margin: 2em 2esm 0 0;
  display: none;
  width: 600px;
  height: 360px;
  background: green;
}

#close {
  position: absolute;
  display: block;
  font-size: 2em;
  /* color: white; */
  left: 610px;
  cursor: pointer;
}

.keybordmain {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100%;
  height: 300px;
  /* background: red; */
}

.keybtn {
  width: 54px;
  height: 54px;
  background: #333;
  color: white;
  line-height: 54px;
  text-align: center;
  margin: auto;
  border-radius: 10px;
  border-right: 4px solid #000;
  border-bottom: 4px solid #000;
  cursor: pointer;
}

.keybtn:active {
  border-right: transparent;
  border-bottom: transparent;
  border-left: 4px solid #000;
  border-top: 4px solid #000;
}

.keybtn.clear {
  background: transparent;
  border: transparent;
  cursor: default;
}

.other {
  display: flex;
  justify-content: flex-end;
}

.other .keybtn {
  width: 112px;
}

#tenkey {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  width: 180px;
  height: 240px;
  background: green;
  position: absolute;
  top: 400px;
  left: 325px;
}

#tenkey.is-show {
  display: grid;
}

.time {
  text-align: center;
}

/* ==================フロアマップ========================= */

#floor_map {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
  background: rgba(50, 50, 50, 0.5);
}

#floor_map.is-show {
  display: block;
}

#floor_map_close {
  display: inline-block;
  position: absolute;
  left: 20px;
  cursor: pointer;
  color: white;
  font-size: 3em;
}

#floor_map_btn {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

#floor_map_btn button {
  width: 10em;
  height: 10em;
}

#floor_map_img div {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 0;
  opacity: 0;
}

#floor_map_img div img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  opacity: 1;
}

#floor_map.is-show #floor_map_img div#f1 {
  height: 100%;
  opacity: 1;
}

div#career_center {
  top: 250px;
  left: 690px;
}

div#software_1 {
  top: 250px;
  left: 725px;
}

div#db {
  top: 550px;
  left: 460px;
}

div#cisco {

}

.room {
  position: absolute;
  color: white;
  width: 4em;
  background: red;
  height: 3em;
  opacity: 1;
  cursor: pointer;
}
