@charset "utf-8";

/*
 * "object/utility/_others.scss"
 */

.u-hFill {
  width: 100%;
}

.u-vFill {
  height: 100%;
}

.u-overflow {
  overflow: hidden;
}

.u-textCenter {
  text-align: center;
}

.u-twoLines {
  line-height: 50px;
}
