@charset "utf-8";

.c-comboBox {
  position: relative;
  width: 10rem;
  height: 5rem;
  background: transparent url(../assets/form-combo-arrow-don.png) no-repeat center right 10px/40px 40px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  padding-left:0.4em;
  // width: 100%;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.32);
    box-shadow: none;
    outline: none;
  }
}

.c-comboBox--course {
  width: 20rem;
}

.c-comboBox--floorMap {
  width: 25rem;
}
