@charset "utf-8";

.l-floorMap {

}

.l-floorMap__closeBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 2rem;
  z-index: 10;
  color: white;
}

.l-floorMap__main {

}

.l-floorMap__side {
}