@charset "utf-8";

.l-miniModal {
  width: $miniModal-width;
  height: $miniModal-height;
  background: #fff;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px 5px rgba($color: #000000, $alpha: 0.3);
}

.l-miniModal__top {
  width: $miniModal-width;
  height: $miniModal__top-height;
  border-bottom   : 3px solid #333;

}

.l-miniModal__body {
  width: $miniModal-width;
  height: $miniModal__body-height;
}
