@charset "utf-8";

/*
 * "object/utility/_others.scss"
 */
.u-overflow {
  overflow: hidden;
}

.u-vhFill {
  width: 100%;
  height: 100%;
}

.u-textCenter {
  text-align: center;
}

.u-twoLines {
  line-height: 50px;
}